@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string) parentLayout;
    }
    else
    {
        // ReSharper disable once Razor.LayoutNotResolved
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h2>Manage your account</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-3">
            <partial name="_ManageNav"/>
        </div>
        <div class="col-md-4">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}