@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configure authenticator app";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4 class="text-center">@ViewData["Title"]</h4>
<div>
    <ol class="list">
        <li>
            <p>
                Download a two-factor authenticator app like Microsoft Authenticator or Google Authenticator
            </p>
        </li>
        <li class="mb-3">
            <p>Scan the QR Code or enter this key <br/><kbd>@Model.SharedKey</kbd><br/> into your two factor authenticator app.</p>
            <div class="container justify-content-center">
            <div id="qrCode" class="container d-flex text-center justify-content-center"></div>
            <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
            </div>
        </li>
        <li>
            <p>
                Enter the code in the confirmation box below.
            </p>
            <div class="row">
                <div class="col-md-12">
                    <form id="send-code" method="post">
                        <div class="mb-3">
                            <label asp-for="Input.Code" class="control-label">Verification Code</label>
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Verify</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/qrcode/qrcode.min.js"></script>
    <script src="~/js/renderQrCode.js"></script>
}
