@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control"/>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control"/>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.CreditCardNumber"></label>
                <input asp-for="Input.CreditCardNumber" class="form-control"/>
                <span asp-validation-for="Input.CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.DateOfBirth"></label>
                <input asp-for="Input.DateOfBirth" class="form-control" max="@DateTime.UtcNow.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Photo"></label>
                <input asp-for="Input.Photo" type="file" class="form-control" accept="image/png,image/jpeg" data-msg-accept="Please upload a png or jpg file."/>
                <span asp-validation-for="Input.Photo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password"></label>
                <span id="passwordStrength"></span>
                <div class="input-group">
                    <input asp-for="Input.Password" id="passwordInput" class="form-control"/>
                    <button class="btn btn-outline-secondary" type="button" data-password-toggle="passwordInput"></button>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword"></label>
                <div class="input-group">
                    <input asp-for="Input.ConfirmPassword" id="confirmPasswordInput" class="form-control"/>
                    <button class="btn btn-outline-secondary" type="button" data-password-toggle="confirmPasswordInput"></button>
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <recaptcha action="register"/>
            <button type="submit" class="btn btn-primary form-control">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script src="~/js/passwordStrengthChecker.js"></script>
    <script src="~/js/passwordVisibilityToggle.js"></script>
}