@page "{statusCode}"
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1>Oops!</h1>
    <p class="h2 font-weight-normal">@Model.ErrorMessage</p>
    <p>(Error Code: @Model.StatusCode)</p>
    <a href="/">Return to home</a>
</div>


